@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&family=Quattrocento:wght@700&family=Roboto+Condensed:wght@400;700&family=Satisfy&display=swap');

:root {
  font-family: 'Barlow', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #292929;
  background-color: #faf7f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background: #faf7f2;
}
